@inherits LayoutComponentBase
@*@using VirtualAddingMachine.Client.Methods
@inject calculations _Calculations*@

<PageTitle>Virtual Calculator</PageTitle>
<link rel="stylesheet" type="text/css" href="/VirtualCalculator.razor.css" />
<body>
    <div>
        <main>
            
                <div class="calculator">
                    <div class="display">
                        <input type="text" placeholder="0" id="input" disabled />
                    </div>
                    <div class="buttons">

                        <input type="button" value="AC" id="clear" />

                        <input type="button" value="DEL" id="erase" />
                        <input type="button" value="%" class="input-button btnB" />
                        <input type="button" value="/" class="input-button btnB" />

                        <input type="button" value="7" class="input-button" />
                        <input type="button" value="8" class="input-button" />
                        <input type="button" value="9" class="input-button" />
                        <input type="button" value="*" class="input-button btnB" />

                        <input type="button" value="6" class="input-button" />
                        <input type="button" value="5" class="input-button" />
                        <input type="button" value="4" class="input-button" />
                        <input type="button" value="-" class="input-button btnB" />

                        <input type="button" value="1" class="input-button" />
                        <input type="button" value="2" class="input-button" />
                        <input type="button" value="3" class="input-button" />
                        <input type="button" value="+" class="input-button btnB" />

                        <input type="button" value="0" class="input-button" />
                        <input type="button" value="." class="input-button" />
                        <input type="button" value="=" id="equal" />



                        @* <input type="button" value="(" class="input-button" />
                        <input type="button" value=")" class="input-button" />*@
                    </div>
                </div>

                <div class="tapeRoll">
                    <div class="tape">
                        <textarea class="calcText">

                    </textarea>
                    </div>
                    <div class="actionBtns">
                        <input type="button" value="edit" class="action-button" />
                        <input type="button" value="download" class="action-button" />
                        <input type="button" value="delete" class="action-button" />
                        <input type="button" value="print" class="action-button" />
                    </div>

                </div>
           
        </main>
    </div>
</body>

@code {
    //private string _num1;
    //private double _num1Double => Convert.ToDouble(_num1);
    //private string _num2;
    //private double _num2Double => Convert.ToDouble(_num2);
    //private string _finalResult;

    //void Addition()
    //{
    //    _finalResult = _Calculations.Addition(_num1Double, _num2Double).ToString();
    //}
    //void Subtraction()
    //{
    //    _finalResult = _Calculations.Subtraction(_num1Double, _num2Double).ToString();
    //}
    //void Multiplication()
    //{
    //    _finalResult = _Calculations.Multiplication(_num1Double, _num2Double).ToString();
    //}
}
<article class="content px-4">
    @Body
</article>


